*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background-color: #000;
    height: 100vh;
}


.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

button:hover,form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color:#00ff08;
}

/* fim do estilo geral */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}





section.top-site{
    padding: 40px 4%;
}

section.top-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.top-site .txt-top-site h1 span{
    color: #00ff08;
    
}


.img-top-site {
    width: 250px; 
    height: 250px;  
    border-radius: 50%; 
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;  
}

.img-top-site img {
    width: 100%; 
    height: 100%;  
    object-fit: cover;  
}
.top-site .txt-top-site p{
    color: #fff;
    margin: 40px 0;
}

.top-site .img-top-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
}

/* Style das especialidades*/
section.especialidades{
    padding: 40px 4%;
}



section.especialidades .flex{
    gap: 60px;
}

/* Style das especialidades azul*/

.especialidades .especialidades-box-azul {
    color: #0a0a0a;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    background-color: #f6f8f6;
    width: 100%;
}

.especialidades .especialidades-box-preto {
    color: #d81212;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    background-color: #0b0c0b;
    width: 100%;
}

    .especialidades .especialidades-box-azul i{
        font-size: 50px;
        color:#080808;
    }
    
.especialidades .titulo-container .titulo-caixa-preto {
    font-size: 24px;
    font-weight: bold;
    color: #0c0c0c;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

/* Style das especialidades azul*/
    .especialidades .especialidades-box {
        color: #00ff08;
        padding: 40px;
        margin-top: 45px;
        border-radius: 20px;
        transition: .2s;
        background-color: #1a1919ea;
        width: 100%;
    }

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}



.especialidades .especialidades-box i{
    font-size: 50px;
    color: #00ff08;
}

.especialidades .especialidades-box img {
    width: 100px; 
    height: auto;
    margin-bottom: 15px;
}




.especialidades .titulo-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 30px; 
    width: 100%;
}

.especialidades .titulo-container .imagem-2line{
    width: 80px; 
    height: auto;
}
.especialidades .titulo-container .imagem-especialidade2-2line{
    width: 170px; 
    height: auto;
}
.especialidades .titulo-container .imagem-topo{
    width: 170px; 
    height: auto;
}

.especialidades .titulo-container .titulo-caixa {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/* Estilos para a segunda linha, onde as imagens ficam lado a lado */
.especialidades .titulo-container:nth-child(2) {
    flex-direction: row; /* Coloca as imagens lado a lado */
    gap: 60px; /* Espaço entre as imagens */
}

/* Ajuste para os itens da segunda linha */
.especialidades .titulo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*  ESTILO SOBRE */
section.sobre{
    padding: 90px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 30px 0;
}
 .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;

}


/*  ESTILO PORTFÓLIO */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff3e;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}
.img-port:hover{
    background-position: 100% 100%;


}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.overlay:hover{
    opacity: 1;
}
/*  ESTILO FORMULARIO */

section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #44444424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}
form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* estilo do rodape */


footer{
    padding: 40px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff3e;
} 

footer .line-footer{
    padding: 20px 0;
    
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .flex{
    justify-content: space-between;

}
.logo-ls {
    width: 100px; 
    height: 100px;
    border: 4px solid #000; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin-right: 20px;

}

footer .line-footer p i{
    color: #00ff08;
}

footer .line-footer p a{
    color: #ffffff;
}
/* responsividade */
@media screen and (max-width: 1020px) {
    /* classes gerais*/
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    .flex{
        flex-direction: column;
    }
    .topo-site .flex{
        flex-direction: column-reverse;
    }
    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }
    /* topo-site */
    section.top-site .flex{
       
        gap: 40px;
    }
    section.top-site{
        padding: 20px 8%;
    }

    .top-site h1{
        font-size: 30px;
    }

    .top-site .img-top-site img{
        width: 100% ;
    
    }
   /* sobre*/
   section.sobre{
    padding: 80px 8%;
}

.sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
      /* portifolio */
      section.portifolio{
        padding: 80px 8%;
       
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    
    }

    section.portifolio .flex{
        gap: 60px;
    }
       /* rodape */

       footer .flex{
        flex-direction: column;
    
}
footer .line-footer{
    text-align: center;
    
}


}